*{
    margin: 0;
    padding: 0;
}
:root {
    --heading-font-family:"Raleway";
    --normal-text-font: "Merriweather";
    --secondary-color: #BEA5CA;
    --primary-color: #003366;
    --accent1-color: #E5DFA6;
    --accent2-color: #2f4f4f;
}

p{
    font-family: var(--normal-text-font);
    font-size: 0.9rem;
}

.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    color: #E5DFA6;
    font-family: var(--heading-font-family);
    top: 60px;
    width: 100%;
    text-align: center;
}

header{
    display:grid;
    
    
}

article{
    position: absolute;
    top: 2vw;
    padding: 1rem;
    background-color: #E5DFA6;
    margin: 5rem;
}
#happy_clients{
    width: 20%;
    float: right;
}

h2 {
    font-family: var(--heading-font-family);
    color: #BEA5CA;
}

.adventure-images img{
    width: 100%;
}

.head_nav a{
    text-decoration: none;
    font-family: var(--normal-text-font);
    font-size: 15px;
    padding-left: 1rem;
}

.footer{
    text-align: center;
}
