*{
    margin: 0;
    padding: 0;
}
:root {
    --heading-font-family:"Raleway";
    --normal-text-font: "Merriweather";
    --secondary-color: #BEA5CA;
    --primary-color: #003366;
    --accent1-color: #E5DFA6;
    --accent2-color: #2f4f4f;
    --text-color:#333;
    --button-hover-color:#4caf50;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

p{
    font-family: var(--normal-text-font);
    font-size: 0.9rem;
    color: var(--text-color);
}

.logo{

    grid-column: 2;
}

.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    color: #E5DFA6;
    font-family: var(--heading-font-family);
    top: 60px;
    width: 100%;
    text-align:right;
    padding: 5px;
}

h2 {
    font-family: var(--heading-font-family);
    color: #2f4f4f;
}

h3{
    color: #E5DFA6;
    text-transform: capitalize;
    font-size: 2vw;
}

h4{
    font-family: var(--heading-font-family);
    text-align: left;
    text-transform: uppercase;
    margin: 4px 0;
    font-family: var(--normal-text-font);
}
header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #2f4f4f;
    padding: 20px;
    align-items: center;
    color: var(--accent1-color);
}

map{
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

article{
    position: absolute;
    top: 2vw;
    padding: 1rem;
    background-color: #2f4f4f;
    margin: 5rem;
}
.company-info{
    color: #E5DFA6;
}
#happy_clients{
    width: 20%;
    float: right;
}

.adventure-images img{
    width: 100%;
}
.head-nav{
    display: flex;

}

.head-nav a{
    text-decoration: none;
    font-family: var(--normal-text-font);
    font-size: 1rem;
    color: #E5DFA6;
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #ccc;
    margin: 0 10px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--accent1-color);
    border-radius: 10px;
}

form label{
    margin-bottom: 5px;
    font-weight: bold;
    font-family: var(--normal-text-font);

}
form input[type="text"]
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
}

font button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.contact-info ul{
    list-style-type: none;
    padding: 0%;
    text-align:left;
}

.contact-info ul li{
    font-family: var(--normal-text-font);
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--accent2-color);
}

.employee-profiles{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.employee-profiles img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: #2f4f4f;
}

.footer-separator{
    height: 2px;
    background-color: #2f4f4f;
    margin-top: 2px;
    margin: 20px 0;
}

footer p{
    color: #E5DFA6;
    text-align: center;
    font-family: var(--normal-text-font);
}
footer a img{
    width: 24px;
    height: 24px;

}

.company-history{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.item1{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    font-size: 4vw;
}

.item2{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: justify;
}

.item3{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;

}

.item4{
    grid-column:3/4;
    grid-row: 2/3;
    text-align: justify;

}

.adventure-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2%;
    margin-top: 3rem;
}

.adventure1{
    grid-row: 1/2;
    grid-column: 1/6;
    text-align: center;
    font-size: 4vw;   
}

.adventure2{
    grid-row: 2/3;
    grid-column: 1/2;   
}

.adventure3{
   grid-row: 2/3;
    grid-column: 2/3;   
} 
.adventure4{
    grid-row: 2/3;
    grid-column: 3/4;
}   

.adventure5{
    grid-row: 2/3;
    grid-column: 4/5;  
}

.adventure6{
    grid-row: 2/3;
    grid-column: 5/6;   
}

figcaption{
    font-family: var(--normal-text-font);
    text-align: center;
    font-size: 1vw;
}

@media(max-width:768px){

    .employee-profiles{
        flex-direction: column;
        align-items: center;
    }
}

form{
    width: 100%;
}
